<nav class="navbar navbar-expand-md bg-light">
    <div class="container-fluid">
        <a class="navbar-brand link" href="#">
            <i class='bx bx-anchor'></i>
            <span>Çekme</span>
        </a>
        <a class="navbar-brand" href="#">
            <i class='bx bx-water' style="margin-right: 3px;"></i>
            <span>Atma</span>
        </a>
        <a class="navbar-brand" href="#">
            <i class='bx bxs-report' style="margin-right: 3px;"></i>
            <span>Raporlar</span>
        </a>
        <a class="navbar-brand" href="#">
            <i class='bx bx-cloud-lightning' style="margin-right: 3px;"></i>
            <span>Hava Durumu</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto" style="padding:10px;">
                <li class="nav-item active" style="margin-right:20px;">

                    <img src="/MMSBootstrap/user.png" alt="" style="width: 30px; height: 30px; border-radius: 100%; margin-top: 5px;  ">

                </li>
                <li class="nav-item">
                    <span style=" font-size: small;">Mertcan Türker</span>
                    <br>
                    <span style=" font-size: small; margin-top: -5px; display: flex;">Sicil:123456</span>
                </li>


            </ul>
        </div>
    </div>
</nav>