<div class="sidebar border-1">
    <!-- Sidebar içeriği -->
    <div class="" style="background-color: #BED7DC; height: 100vh; min-width: 100%; margin-bottom: 10px;">
        <div style="width: 100%; height: 30%; display: flex; justify-content: center;">
            <img src="/MMSBootstrap/Varlik2.png" style="width: 60%; height: 96%" alt="">
        </div>
        <div class="" style="width: 100%; height: 5%;"></div>
        <div class="" style="width: 100%; height: 7%; margin-bottom: 3%; display: flex; align-items: center; padding-left: 30px;">
            <a href="/Kayit/Harita" class="link" style="text-decoration: none; font-weight: 500; font-size: x-large;">
                <i class='bx bx-search-alt-2'></i>
                <span>Tekne Takip</span>
            </a>
        </div>
        <div class="" style="width: 100%; height: 7%; margin-bottom: 3%; display: flex; align-items: center; padding-left: 30px;">
            <a href="/Kayit/Index" class="link" style="text-decoration: none; font-weight: 600; font-size: x-large;">
                <i class='bx bx-add-to-queue'></i>
                <span>Tekne Kayıt</span>
            </a>
        </div>
        <div class="" style="width: 100%; height: 7%; margin-bottom: 3%; display: flex; align-items: center; padding-left: 30px;">
            <a href="/Jurnal/Index" class="link" style="text-decoration: none; font-weight: 600; font-size: x-large;">
                <i class='bx bx-spreadsheet'></i>
                <span>Jurnal İşlemleri</span>
            </a>
        </div>
        <div class="" style="width: 100%; height: 7%; margin-bottom: 3%; display: flex; align-items: center; padding-left: 30px;">
            <a href="" class="link" style="text-decoration: none; font-weight: 600; font-size: x-large;">
                <i class='bx bx-edit-alt'></i>
                <span>Sözleşme</span>
            </a>
        </div>
        <div class="" style="width: 100%; height: 7%; margin-bottom: 3%; display: flex; align-items: center; padding-left: 30px;">
            <a href="/Takip/Index/"  class="link" style="text-decoration: none; font-weight: 600; font-size: x-large;">
                <i class='bx bx-dollar-circle'></i>
                <span>Faturalandırma</span>
            </a>
        </div>
        <div class="" style="width: 100%; height: 7%; margin-bottom: 9%; display: flex; align-items: center; padding-left: 30px;">
            <a href="" class="link" style="text-decoration: none; font-weight: 600; font-size: x-large;">
                <i class='bx bx-error-alt'></i>
                <span>Borçlu Listesi</span>
            </a>
        </div>
        <div class="" style="width: 80%; height: 7%; margin-bottom: 3%; display: flex; align-items: center; padding-left: 50px;">
            <a href="/Login/LogOut" class="link" style="text-decoration: none; font-weight: 600; font-size: x-large; display: flex; justify-content: center;">
                <i class='bx bx-log-out'></i>
                <span>Çıkış</span>
            </a>
        </div>
        <div class="col-9"></div>
    </div>
</div>